{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">data table</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Movie id</th>
                    <th>Name</th>
                    <th>Director</th>
                    <th>Year of Release</th>
                    <th>Average Rating</th>
                    <th>Collections(in Crores.)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {%for movie in movie_list%}
                <tr class="tr-shadow">
                    <td>{{movie.id}}</td>
                    <td class="desc">
                        <a href="/imdb/movie/{{movie.id}}/">{{movie.name}}</a>
                    </td>
                    <td class="desc">
                        <a href="/imdb/director/{{movie.director.id}}/">{{movie.director}}</a>
                    </td>
                    <td>{{movie.movie_year}}</td>
                    <td>
                        <span class="status--high">{{movie.average_rating}}</span>
                    </td>
                    <td>{{movie.box_office_collection_in_crores}}₹</td>
                    <td>
                        <div class="table-data-feature">
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit"
                                        class="item"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {%endfor%}
                <tr class="spacer"></tr>
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}